# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
# IDE
.idea/
*.iml
.vscode/
# OS
.DS_Store
Thumbs.db
# Generated artifacts
android/.gradle/
android/local.properties
windows/flutter/ephemeral/
web/flutter_service_worker.js
